body {
    background: #a8b8bf url('/resources/noise.png');
}

#droparea {
    position: relative;
    margin-top: 1em;
    box-sizing: border-box;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    border: 4px dashed #869398;
    border-radius: 20px;
    min-height: 15em;
    max-height: 15em;
    padding-top: 7em;
    font-size: 200%;
    text-shadow: 0 0 0.03em;
}