body {
    background: #a8b8bf url('/resources/noise.png');
}

#droparea {
    position: relative;
    margin-top: 1em;
    box-sizing: border-box;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 4px dashed #869398;
    border-radius: 20px;
    min-height: 15em;
    max-height: 15em;
    padding-top: 7em;
    font-size: 200%;
    text-shadow: 0 0 0.03em;
}

.progress {
    position: relative;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.panel {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.panel input, .panel textarea {
    margin-bottom: 1em;
    resize: none;
}

#control-buttons button {
    position: relative;
    float: right;
    width: 10em;
    margin-left: 1em;
}

video {
    width: 100%;
    margin-bottom: 1em;
}

#header {
    background-color: #9c9c9c;
    height: 1.5em;
}

#header span {
    margin-top: 3px;
}